<table cellspacing="0" cellpadding="0" style="padding:20px 10px;background:#F7F7F7;width:100%;font-family:arial;">
    <tbody>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style=" width:50%;">
                    <tbody>
                        <tr>
                            <td style=" text-align:center;padding-bottom:14px;">
                           <img src="https://static.bowetech.com/img/logo.svg" alt="logo">                               
                        </td>
                        </tr>


                        <tr>
                            <td>

                                <table cellpadding="0" cellspacing="0" border="0"
                                    style="border:1px solid #E2E2E2; width:100%; ">
                                    <tr>
                                        <td align="center"
                                            style="color:#444444;font-family:Helvetica;font-size:26px;line-height:140%;font-weight:bold;padding-top:20px;padding-right:20px;padding-bottom:30px;padding-left:20px;border-bottom:1px solid #e2e2e2; background-color:#fff;">


                                            <h1>Website Enquiry</h1>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td
                                            style="background:#fff;padding:20px 30px; font-size: 16px; line-height: 160%;">





                                            <p><strong> Name :</strong> {{name}} </p>
                                            <p><strong> Email :</strong> {{email}} </p>
                                            <p><strong> Telephone :</strong> {{phone}} </p>
                                            <p><strong> Message :</strong></p>
                                            {{message}} 




                                        </td>
                                    </tr>
                                </table>

                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:650px; ">
                    <tbody>
                        <tr>
                            <td
                                style="color:#b4b4b4;font-size:11px;padding-top:0px;line-height:15px;font-family:arial;">
                                &copy;
                                Copyright © 2020 Static + BoweTech. All rights reserved.  <br>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>