<table cellspacing="0" cellpadding="0" style="padding:20px 10px;background:#F7F7F7;width:100%;font-family:arial;">
    <tbody>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style=" width:50%;">
                    <tbody>
                        <tr>
                            <td style=" text-align:center;padding-bottom:14px;">
                                <svg class="bi bi-columns-gap" width="5em" height="5em" viewBox="0 0 16 16" fill="#d9534f" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 1H1v3h5V1zM1 0a1 1 0 00-1 1v3a1 1 0 001 1h5a1 1 0 001-1V1a1 1 0 00-1-1H1zm14 12h-5v3h5v-3zm-5-1a1 1 0 00-1 1v3a1 1 0 001 1h5a1 1 0 001-1v-3a1 1 0 00-1-1h-5zM6 8H1v7h5V8zM1 7a1 1 0 00-1 1v7a1 1 0 001 1h5a1 1 0 001-1V8a1 1 0 00-1-1H1zm14-6h-5v7h5V1zm-5-1a1 1 0 00-1 1v7a1 1 0 001 1h5a1 1 0 001-1V1a1 1 0 00-1-1h-5z" clip-rule="evenodd"/>
                                  </svg>                                
                                </td>
                        </tr>


                        <tr>
                            <td>

                                <table cellpadding="0" cellspacing="0" border="0"
                                    style="border:1px solid #E2E2E2; width:100%; ">
                                    <tr>
                                        <td align="center"
                                            style="color:#444444;font-family:Helvetica;font-size:26px;line-height:140%;font-weight:bold;padding-top:20px;padding-right:20px;padding-bottom:30px;padding-left:20px;border-bottom:1px solid #e2e2e2; background-color:#fff;">


                                            <h1>Website Enquiry</h1>

                                        </td>
                                    </tr>

                                    <tr>
                                        <td
                                            style="background:#fff;padding:20px 30px; font-size: 16px; line-height: 160%;">





                                            <p><strong> Name :</strong> {{name}} </p>
                                            <p><strong> Email :</strong> {{email}} </p>
                                            <p><strong> Telephone :</strong> {{phone}} </p>
                                            <p><strong> Message :</strong></p>
                                            {{message}} 




                                        </td>
                                    </tr>
                                </table>

                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table align="center" cellpadding="0" cellspacing="0" border="0" style="max-width:650px; ">
                    <tbody>
                        <tr>
                            <td
                                style="color:#b4b4b4;font-size:11px;padding-top:0px;line-height:15px;font-family:arial;">
                                &copy;
                                Copyright © 2020 Static + BoweTech. All rights reserved.  <br>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>